.cart {
  border-top: 0.5px solid gray;
}
.cart h3 {
  text-align: center;
}

.flexible-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart img {
  width: 80px;
}

@media screen and (max-width: 600px) {
  .cart h3 {
    font-size: 16px;
  }
}
